body{
    margin: 0;
    padding: 0;
    width: auto;
}
.sec-1 {
    width: auto;
    margin: 0;
    padding: 0;
    background-image: url("./background-img.jpg");
}
.center-xy-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center-xy-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center_main-axis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center_cross-axis{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#info-data{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin-left: 25%;
}
.flex-basis-50{
    flex-basis: 50%;
}

.sec-2{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    background-image: url("./background-img.jpg");
}
.vaccine-logo{
    height: 50px;
}
.sec-2_info-block {
    padding-right: 5%; 
    padding-left: 5%;
    height: auto;
}
.sec-3{
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    background-image: url("./background-img.jpg");
}
.sec-3_info-block {
    padding-right: 10%; 
    padding-left: 10%;
    text-align: center;
}
.sec-3-recomendations{
    padding-left: 25%;
    display: flex;
    flex-direction: row;
}
.cero-margin-p{
    margin: 0;
}
.sec-4{
    background-color: brown;
    margin: 0;
    padding: 0;
    background-image: url("./background-img.jpg");
}
.sec-4_icon{
    margin-left: 25%;
    width: 25px;
    height: 25px;
}
.sec-4_contact-block{
    display: flex;
    flex-direction: row;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

li p{
    text-align: center;
    flex-grow: 4;
    margin: 0;
    position: relative;
    top: 50%;
}

.navbar_item{
    text-decoration: none;
    color: inherit;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left: 25%;
}
.navbar_item_button{
    text-decoration: none;
    color: inherit;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    right: 25%
}

button{
    background-color: #3353D1;
}

.flex-basis-50{
    flex-basis: 50%;
}
.flex-basis-50 #banner{
    width: 100%;
}

.center_space-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.icon{
    width: 25px;
    height: 25px;
}

footer a{
    text-decoration: none;
}

#info-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
#info-footer > div{
    flex-basis: 50%;
}

#footer-links{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}
#politics{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info-blocks-contacts{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
}
footer{
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #BDABA6;
}
p{
    font-weight: bold;
}